
<div class="Container justify-content-center" >
 
  <div class="card row align-self-center" style="width: 18rem">
    
 

    <div>
      <h2>{{ character.name }}</h2>
    </div>

    <div><p>Etes-vous sûr de vouloir supprimer ce produit ?</p></div>

    <div>
      <button class="btn btn-primary" type="submit" id="btnSupprimer" (click)="deleteCharacter(character)">
        Oui
      </button>
      <button *ngIf="!utilisateur"class="btn btn-danger" [routerLink]="['arc-en-ciel']">
        Non
      </button>
    </div>
  
  </div>  
</div>
