<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a
      routerLinkActive="ma-classe-active"
      [routerLink]="['home']"
      class="navbar-brand text-primary m-2"
      ><img src="assets/images/RainbowDB.png" alt=""
    /></a>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarRightAlignExample"
    >
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link btn1 m-2"
            aria-current="page"
            routerLinkActive="ma-classe-active"
            [routerLink]="['arc-en-ciel']"
            >arc-en-ciel</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn1 m-2"
            routerLinkActive="ma-classe-active"
            [routerLink]="['Contactez-nous']"
            >Contactez-nous</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn1 m-2"
            routerLinkActive="ma-classe-active"
            [routerLink]="['Connexion']"
            >Espace Admin</a
          >
        </li>
      </ul>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
