img {
    width: 15rem;
}

.btn1 {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #064BA6;
    text-align:center;
    /* padding:0; */
}

a {
    color: #064BA6;
}

a:hover {
    color:#064BA6;
    text-decoration: underline;
    cursor: pointer;
}

.a2 {
    color: white;
}

.a2:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.navbar {
        background: hsla(0, 0%, 100%, 0.55);
        backdrop-filter: blur(30px);
}

.btn2 {
    background-color: #166ee1;
    border-radius: 8px;
    color: white;
    border: 1px solid white;
    padding: 0.55rem;
}




