img {
    width: 15rem;
}

.btn1 {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #064BA6;
}

a {
    color: #064BA6;
}

.a2 {
    color: white;
}
.btn2 {
    background-color: #166ee1;
    border-radius: 8px;
    border: 1px solid white;
}



