<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img
        id="logoNavBar"
        src="assets/images/RainbowDB.png"
        alt="Logo Rainbow DB"
      />
    </a>

    <div class="ml-auto">
      <div class="collapse navbar-collapse ml-auto" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" >
            
            <a *ngIf="user.admin"
              class="btn btn2 a2 m-2"
              alt="accès page admin"
              title="accès page admin"
              aria-current="page"
              routerLinkActive="ma-classe-active"
              [routerLink]="['../page-admin/ajouter-characters']"
            >
              Ajouter un personnage
            </a>
          </li>
          <li class="nav-item">
            <a
              alt="acceder à l'arc-en-ciel"
              title="acceder à l'arc-en-ciel"
              class="nav-link btn1 m-2"
              routerLinkActive="ma-classe-active"
              [routerLink]="['arc-en-ciel']"
            >
              Arc-en-Ciel</a
            >
          </li>
          <li class="nav-item">
            <a
              alt="Connexion"
              title="Connexion"
              class="nav-link btn1 m-2"
              routerLinkActive="ma-classe-active"
              [routerLink]="['connexion']"
            >
              Connexion</a
            >
          </li>
        </ul>
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
