<section class="text-center text-lg-start">
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <div
          class="card cascading-right"
          style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          "
        >
          <div class="card-body p-5 shadow-5 text-center">
            <h1 class="text-color p-4 text-start">MENTIONS LEGALES :</h1>

            <p class="text-color2 text-start">
              En conformité aux obligations de l'article 6-III et 19 de la Loi
              numéro 2004-575 du 21 juin 2004 concerçant la Confiance de
              l'économie numérique, dite L.C.E.N., nous informons les visiteurs
              du site web : rainbowdb.fr Les informations qui suivent :
            </p>

            <h2 class="text-color">1. Données légales :</h2>

            <p class="text-color2 text-start">
              Le Propriétaire est : Nicolas Perthuisot
            </p>
            <p class="text-color2 text-start">
              Adresse postale du titulaire : 2 allée de Luzancy 77400 - POMPONNE
            </p>
            <p class="text-color2 text-start">
              Le Développeur du site suivant est : Nicolas Perthuisot
            </p>
            <p class="text-color2 text-start">
              Directeur de publication est : Nicolas Perthuisot
            </p>
            <p class="text-color2 text-start">
              Comment joindre le Directeur de la publication :
              nicolas.perthuisot@gmail.com
            </p>
            <p class="text-color2 text-start">
              Le Webmaster est : Nicolas Perthuisot
            </p>
            <p class="text-color2 text-start">
              De quelle façon entrer en contact avec le Développeur :
              nicolas.perthuisot@gmail.com
            </p>
            <p class="text-color2 text-start">
              L'hebergeur du site est : O2Switch SASU au capital social de 100
              000 Euros Registre du commerce et des sociétés (RCS)
              Clermont-Ferrand B 510909807 Nomenclature APE 6311Z N° TVA : FR 35
              510 909 807 Siège Sociale de l'entreprise : 222-224 Boulevard
              Gustave Flaubert - 63000 Clermont-Ferrand - France
            </p>

            <h2 class="text-color">2. Présentation :</h2>

            <p class="text-color2 text-start">
              Tout internaute se connectant et utilisant le site suivant :
              rainbowdb.fr est considéré comme usageé du site internet. Le site
              internet rainbowdb.fr regroupe différents services, en l'état,
              disponible pour les utilisateur. Il est ici précisé que ceux-ci
              doivent rester honnête et faire preuve de bonne foi tant envers
              les autres utilisateurs qu'envers le Concepteur du site
              rainbowdb.fr. Le site rainbowdb.fr est mis à jour régulièrement
              par Nicolas Perthuisot. Nicolas Perthuisot s'efforce d'indiqué sur
              le site rainbowdb.fr des informations les plus véridiques
              possibles (sous réserve de modifications), mais ne peuvent
              garantir l'exactitude, la finitude et l'actualité des informations
              diffusées sur son site, qu'elles soient ou non de son fait. En
              conséquence, l'utilisateur reconnaît utiliser ces informations
              données (à titre indicatif, non exhaustives et susceptibles
              d'évoluer) sous sa responsabilité exclusive.
            </p>

            <h2 class="text-color">3. Accessibilité :</h2>

            <p class="text-color2 text-start">
              Le site suivant rainbowdb.fr est généralement accessible aux
              utilisateurs H24 7/7, excepté en cas d'interruption, prévu ou non,
              pour les besoins de maintenance ou force majeure. En cas
              d'impossibilité d'accès au service, rainbowdb.fr se devouera à
              faire son maximum afin de rétablir l'accès au site web et
              s'efforcera alors de communiquer préalablement aux utilisateurs
              les dates et heures de l'interruption. N'étant soumis qu'à une
              obligation de moyen, rainbowdb.fr ne saurait être tenu pour
              responsable de tout dommage, quelle qu'en soit la nature,
              résultant d'une indisponibilité du service
            </p>

            <h2 class="text-color">4. Propriété intellectuelle :</h2>

            <p class="text-color2 text-start">
              Nicolas Perthuisot est le propriétaire unique de l'intégralité des
              droits de propriété intellectuelle ou détient les droits d'usage
              sur tous les éléments accessibles sur le site suivant, tant
              structurellement que sur les textes, images, graphismes, icônes,
              bande sonore, logicielsetc… Toute reproduction totale ou partielle
              du site internet rainbowdb.fr, représentation, modification,
              adaptation totalement ou partiellement de l'un de ces éléments,
              peu importe le moyen ou le procédé utilisé, est interdite, sauf
              autorisation écrite préalable de Nicolas Perthuisot, directeur du
              site web même partielle du site suivant rainbowdb.fr, affichage,
              edition, mis à jour totalement ou partiellement de l'un quelconque
              de ces éléments, sans tenir compte du moyen ou la technique
              utilisé, est strictementinterdite, sauf acceptation écrite
              préalable de Nicolas Perthuisot, directeur du site suivant à
              l'email : nicolas.perthuisot@gmail.com, dans le cas contraire elle
              sera désigné de la même manière qu'une contrefaçon étant passible
              de poursuite conformément aux dispositions des différents articles
              L.335-2 et suivants du Code de Propriété Intellectuelle.
            </p>

            <h2 class="text-color">5. Liens hypertextes & cookies :</h2>

            <p class="text-color2 text-start">
              Le site web rainbowdb.fr contient de multiple URL hypertextes vers
              différents sites web (partenariats, sites sources etc) mis en
              ligne avec l'autorisation de Nicolas Perthuisot. Cependant,
              Nicolas Perthuisot ne peut pas controler l'intégralité des
              élements des sites ainsi consultés et rejette donc toute
              responsabilité de de cette façon quand aux risques de contenus
              interdits. L'utilisateur est informé que durant de ses
              utilisatations sur le site internet rainbowdb.fr, un ou différents
              cookies sont capable de s'installer de façon automatique sur son
              via son logiciel de navigation. Un cookie c'est un ensemble de
              données informatique qui ne permet pas d'identifier l'utilisateur,
              néanmoins qui enregistre des renseignements relatives à la
              navigation de l'usager sur le site suivant. La configration du
              logiciel de navigation laisse libre de notifier de la compagnie de
              cookie et potentiellement, de pouvoir refuser de la manière
              décrite à cette adresse : www.rainbowdb.fr. L'utilisateur à la
              possibilité toutefois de configurer le navigateur de son pc afin
              de contester la mise en place des cookies, en sachant que le rebut
              d'installation d'un cookie pourrait potentiellement entraîner
              l'incapacité d'avoir accès à certains services. Pour tout barrage
              de cookies, tapez dans un moteur de recherche : blocage des
              cookies et appliquez les instructions en rapport avec votre
              navigateur.
            </p>

            <h2 class="text-color">
              6. Protection des personnes et des biens - Gestion des données
              personnelles :
            </h2>

            <p class="text-color2 text-start">
              En France, les données personnelles sont notamment protégées par
              la loi n° 78-87 du 6 janvier 1978 ainsi que la loi n° 2004-801
              datant du 6 août 2004, l'article L. 226-13 du Code pénal et la
              Directive Européenne du 24 octobre 1995. Sur le site interne
              rainbowdb.fr, Nicolas Perthuisot ne aucune information
              personnelles ( suivant l'article 4 loi n°78-17 du 06 janvier 1978)
              relatives à l'usager que pour le besoin de différents services mis
              à disposition par le site interne rainbowdb.fr. L'usager offre ces
              informations en pleine conscience de cause, notamment quand il
              effectue de lui-même à leur saisie. Il est donc expliqué à
              l'utilisateur du site interne rainbowdb.fr l'obligation ou non de
              mentionner ces informations. En conformité avec les agencements
              des articles 38 et autres de la loi 78-17 du 6 janvier 1978
              concernant l'informatique, les fichiers et aux libertés, n'importe
              quel utilisateur possède un droit d'accès , de rectification, de
              suppression et d'opposition aux informations personnelles le
              concernant. Pour l'exercer, adressez votre demande à rainbowdb.fr
              par mail : nicolas.perthuisot@gmail.com ou alors via écrit signée,
              jointe d'une copie de pièce d'identité avec signature du titulaire
              du document, en précisant l'adresse à laquelle une réponse devra
              être retournée.
            </p>

            <p class="text-color2 text-start">
              Sans information personnelle de l'utilisateur du site interne
              rainbowdb.fr n'est publiée sans consentemment de l'utilisateur,
              troquée, transmise, cédée sur n'importe quel support à des tiers.
              Uniquement l'hypothèse de vente du site suivant rainbowdb.fr et de
              l'intégralité de ses droits autorise Nicolas Perthuisot à céder
              les informations à l' acquéreur qui serait donc lui-même tenu à la
              même nécéssité de conservation et de modification des informations
              concernant l'utilisateur du site suivant rainbowdb.fr. Le site
              suivant rainbowdb.fr est conforme avec le RGPD consulter notre
              politique RGPD.
            </p>

            <p class="text-color2 text-start">
              Les bases de données sont sécurisées par les obligations de la loi
              du 1er juillet 1998 transposant ainsi la directive 96/9 du 11 mars
              1996 concernant la protection juridique des BDD (bases de
              données).
            </p>

            <h2 class="text-color p-4">"L'équipe DisneyboundFrance"</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
