<div
  class="custom-side-bar"
  style="
    width: 5rem;
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  "
>
  <p>Catégories</p>
  <div class="accordion" id="accordionColors">
    <div class="accordion-item">
      <div clas="px-3 dropdown">
        <h2 class="accordion-header" id="headingColors">
          <button
            class="collapsed fs-5 fw-semibold custom-accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseColors"
            aria-expanded="true"
            aria-controls="collapseColors"
          ></button>
        </h2>
        <div
          id="collapseColors"
          class="accordion-collapse collapse show"
          aria-labelledby="headingColors"
          data-bs-parent="#accordionExample"
        >
          <div *ngFor="let colors of couleursParents">
            
            <label id="{{ colors }}" class="label-style" (click)="onFilterClick($event)">
              <input
                type="checkbox"
                class="input-style form-check-input"
                value="{{ colors }}"
                id="{{ colors }}"
                (change)="onCheckColors($event)"
                
              />
              {{ colors }}
            </label>
          </div>
        </div>
      </div>
      <div class="accordion" id="accordionUnivers">
        <h2 class="accordion-header" id="headingUnivers">
          <button
            class="collapsed fs-5 fw-semibold custom-accordion-button1"
            data-bs-toggle="collapse"
            data-bs-target="#collapseUnivers"
            aria-expanded="true"
            aria-controls="collapseUnivers"
          ></button>
        </h2>
        <div
          id="collapseUnivers"
          class="accordion-collapse collapse show"
          aria-labelledby="headingUnivers"
          data-bs-parent="#accordionExample"
        >
          <div *ngFor="let univers of universParents">
            <label
              [class]="getCssClass(univers)"
              (change)="onCheckUnivers($event)"
              (click)="onFilterClick($event)"
              id="{{ univers }}"
              class="label-style"
            >
              {{ univers }}
              <input
                class="input-style form-check-input"
                type="checkbox"
                value="{{ univers }}"
                id="{{ univers }}"
              />
            </label>
          </div>
        </div>
        <div > <label (change)="onCheckFavoris($event)" *ngIf="connected" >
          <input type="checkbox"><img src="../../../assets/images/favorisChecked.png">
        </label></div>
      </div>
    </div>
  </div>
</div>
