<div class="custom-side-bar border-end" style="
            width: 15rem;
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          ">
  <div class="p-3">
    <span class="fs-5 fw-semibold">Catégories</span>
  </div>
  <hr />
  <div clas="px-3">
    <p class="fs-5 fw-semibold">Couleurs</p>
    <div class="form-check">
      <input
        type="checkbox"
        class="btn-check"
        id="btn-check"
        autocomplete="off"
      />
      <label class="btn btn-color1" for="btn-check">Jaune</label>
    </div>
  </div>
  <div class="px-3">
    <p class="fs-5 fw-semibold">Univers</p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="test" id="test" />
      <label class="form-check-label" for="test"> Classique Disney </label>
    </div>
  </div>
</div>

<input type="file" (change)="onChange($event)">

<!-- (clickCategorie)="changeCategorie()" -->

<!-- (change)="onCheckCategory($event)" -->

<!-- *ngFor="let categorie of categoriesRecup" -->
