<footer class="d-flex justify-content-between fixed-bottom">
  <div class="text-left"><p class="text padding">@copyright DisneyBound France 2023</p></div>
  
  <section>
    
    <a
    class="btn1 btn-link text"
    href="https://www.facebook.com/disneyboundfr"
    ><img src="../../../assets/images/facebook.png" alt=""></a>
    
    
    <a
    class="btn1 btn-link btn-floating btn-lg m-1"
    href="https://www.instagram.com/db_france/"
    ><img src="../../../assets/images/instagram.png" alt=""></a>
  </section>
  
  <div><p class="text padding">Mentions Legal</p></div>
</footer>

