<footer class="d-flex justify-content-between fixed-bottom foot">
  <div class="text">
    <p>©copyright DisneyBound France 2023</p>
  </div>
  <div class="mx-0">
    <a href="https://www.facebook.com/disneyboundfr"
      ><img src="../../../assets/images/facebook.png" alt=""
    /></a>
    <a href="https://www.instagram.com/db_france/"
      ><img src="../../../assets/images/instagram.png" alt=""
    /></a>
  </div>
  <div>
    <p class="text btn" [routerLink]="['mentions-legales']">Mentions Legales</p>
  </div>
</footer>
