.text-left {
    display: flex;
    justify-content: start;
}

.text {
    color: #064BA6;
}

img {
    width: 20%;
}

.padding {
    padding: 0 10px;
}

@media only screen and (max-width: 48rem) {
    
}