.containerComponent {
    display: flex;
    gap: 4rem;
}

.filter {
    justify-content: flex-start;
}

.padding {
    padding: 3rem 0 0 5rem;
}

@media only screen and (max-width: 48rem) {
    .padding {
            left:0;
        }
}

