
<div class="containerComponent">
  <div class="filter">
    <div>
      <app-search-bar (inputUser)="onEnterSearch($event)" class="move"></app-search-bar>
    </div>
    <div>
      <app-filter-bar
        [universParents]="universToDisplay"
        [couleursParents]="colorsToDisplay"
        (universEnvoiParents)="aLecouteDeLenfant($event)"
        (colorsEnvoieParents)="aLecouteDesCouleurs($event)"
        (favorisEnvoieParents)="aLecouteDesFavoris($event)"
      ></app-filter-bar>
    </div>
  </div>
  <div>
    <div class="d-flex flex-wrap justify-content-start padding">
      <app-cards
        *ngFor="let character of characterToDisplay"
        [user]="users"
        [character]="character"
        (clickFav)="ajouterAuxFavoris($event)"
        [like]="estFavori(character)"
      >
      </app-cards>
    </div>
  </div>   
  

