
  <div class="containerComponent">
    <div class="filter">
      <app-search-bar (inputUser)="onEnterSearch($event)"></app-search-bar>
      <app-filter-bar
        [universParents]="universToDisplay"
        [couleursParents]="colorsToDisplay"
        (universEnvoiParents)="aLecouteDeLenfant($event)"
        (colorsEnvoieParents)="aLecouteDesCouleurs($event)"
      ></app-filter-bar>
    </div>
    <div>
      <app-character-list
      (favoris)="ajouterFavoris($event)"
        [character]="characterToDisplay"
        class="d-flex flex-wrap p-2"
      ></app-character-list>
    </div>
  </div>


