/* You can add global styles to this file, and also import other style files */
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background: url('src/assets/images/fonds.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}