.text-color {
    color: #064BA6;
}


input {
    width:19rem;
    text-align: center;
}

.container {
    height: 12rem;
}

@media only screen and (max-width: 48rem) {

    input {
        width:12rem;
    }
}