<!-- Section: Design Block -->
<section class="text-center text-lg-start" >
  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <div
          class="card cascading-right"
          style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          "
        >
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="mb-5 text-color-titre">Laissez-nous un message</h2>
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-12 mb-5">
                  <div class="mb-3">
                    <label
                      for="exampleFormControlInput1"
                      class="form-label text-color"
                      >E-mail</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="name@example.com"
                    />
                  </div>
                  <label
                    for="exampleFormControlTextarea1"
                    class="form-label"
                  ></label>
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="4"
                  ></textarea>
                </div>
              </div>

              <button type="submit" class="btn btn-primary btn-block mb-4">
                Envoyez
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
